$purple: hsl(259, 100%, 65%);
$lightRed: hsl(0, 100%, 67%);

$offWhite: hsl(0, 0%, 94%);
$white: hsl(0,0%, 100%);
$lightGrey: hsl(0, 0%, 86%);
$smokeyGrey: hsl(0, 1%, 44%);
$offBlack: hsl(0 ,0%, 8%);

$font: 'Poppins';

@mixin fontInit($url, $fontToInit: $font) {
  font-family: $fontToInit;
  src: url($url);
}

@font-face {
  @include fontInit('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  @include fontInit('../assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  @include fontInit('../assets/fonts/Poppins-ExtraBold.ttf');
  font-weight: 800;
  font-style: 'italic';
}

body {
  margin: 0;
  padding: 0;
  background-color: $offWhite;
}

main {
  height: 98vh;
  display: grid;
}

.card {
  background-color: white;
  width: 50%;
  place-self: center;
  border-radius: 25px 25px 150px 25px;
  box-sizing: border-box;
  padding: 2rem;
}

.form-container {
  display: flex;
  flex-direction: row;
  width: 70%;

  .input-container {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    width: 33%;
    

    label {
      font-family: $font;
      font-weight: 400;
      color: $smokeyGrey;
      margin-bottom: 0.5rem;
    }

    label.description {
      width: 100%;
      font-size: 12px;
      color: $lightRed;
      visibility: hidden;
    }

    label.error {
      color: $lightRed;
      visibility: visible;
    }
  
    input {
      width: 100%;
      font-size: 32px;
      font-weight: 700;
      outline: none;
      border-radius: 5px;
      border: 2px solid $lightGrey;
      padding: 0.5rem 1rem;
      cursor: pointer;
      box-sizing: border-box;
    }

    input.error{
      border-color: $lightRed;
    }

    input:focus {
      border-color: $purple;
    }
  }
}

#button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

hr {
  color: $smokeyGrey;
  opacity: 15%;
  width: 85%;
  margin-left: 0;
  margin-right: 0;
  height: 0;
}

#form-button {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('../assets/images/icon-arrow.svg');
  background-position: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-color: $purple;
  cursor: pointer;
}

#form-button:hover {
  background-color: black;
}

#result {
  font-family: $font;
  font-size: 100px;
  font-weight: 800;
  font-style: italic;
  line-height: 1.2;

  span {
    color: $purple;
  }
}