@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: "italic";
}
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 94%);
}

main {
  height: 98vh;
  display: grid;
}

.card {
  background-color: white;
  width: 50%;
  place-self: center;
  border-radius: 25px 25px 150px 25px;
  box-sizing: border-box;
  padding: 2rem;
}

.form-container {
  display: flex;
  flex-direction: row;
  width: 70%;
}
.form-container .input-container {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
  width: 33%;
}
.form-container .input-container label {
  font-family: "Poppins";
  font-weight: 400;
  color: hsl(0, 1%, 44%);
  margin-bottom: 0.5rem;
}
.form-container .input-container label.description {
  width: 100%;
  font-size: 12px;
  color: hsl(0, 100%, 67%);
  visibility: hidden;
}
.form-container .input-container label.error {
  color: hsl(0, 100%, 67%);
  visibility: visible;
}
.form-container .input-container input {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  border: 2px solid hsl(0, 0%, 86%);
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
}
.form-container .input-container input.error {
  border-color: hsl(0, 100%, 67%);
}
.form-container .input-container input:focus {
  border-color: hsl(259, 100%, 65%);
}

#button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

hr {
  color: hsl(0, 1%, 44%);
  opacity: 15%;
  width: 85%;
  margin-left: 0;
  margin-right: 0;
  height: 0;
}

#form-button {
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%;
  background-image: url("../assets/images/icon-arrow.svg");
  background-position: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-color: hsl(259, 100%, 65%);
  border: none;
  cursor: pointer;
}

#form-button:hover {
  background-color: black;
}

#result {
  font-family: "Poppins";
  font-size: 6.25rem;
  font-weight: 800;
  font-style: italic;
  line-height: 1.2;
}
#result span {
  color: hsl(259, 100%, 65%);
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 800px) {
  .card {
    width: 90%;
  }
  .form-container {
    width: 100%;
  }
  #button-container {
    display: grid;
  }
  hr, #form-button {
    grid-row: 1;
    grid-column: 1;
  }
  #form-button {
    place-self: center;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }
  .card {
    padding: 3rem;
    padding-top: 5rem;
    padding-right: 2rem;
    margin: 0;
  }
  .card #button-container {
    margin-bottom: 3rem;
  }
  .card #form-button {
    width: 7rem;
    height: 7rem;
  }
  .card label:not(.description) {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 7px;
  }
}

/*# sourceMappingURL=styles.css.map */
